# .env
# Current_Env # local, dev, prd
DAGSTER_INSTANCE_CURRENT_ENV='local' 
# escapar el simbolo `$ con el simbolo \ -> `\$`
# Meta-Database
DAGSTER_PG_USERNAME='usuario'
DAGSTER_PG_PASSWORD='contraseña'
DAGSTER_PG_HOST='172.16.2.235'
DAGSTER_PG_DB='base_datos'
# Default is 5432 dagster
DAGSTER_PG_PORT=5432
DAGSTER_HOME=/workspaces/main-dagster

UV_COMPILE_BYTECODE=true
PYTHONWARNINGS=default

DAGSTER_SQL_SERVER_ODBC_DRIVER='ODBC Driver 18 for SQL Server'
DAGSTER_GRAPHQL_PORT=3000

DAGSTER_DBT_PARSE_PROJECT_ON_LOAD=1

DAGSTER_DEV_DWH_FARINTER_IP='172.16.2.227'
DAGSTER_PRD_DWH_FARINTER_IP='172.16.2.202'
DAGSTER_DEV_DWH_FARINTER_SQL_SERVER='172.16.2.227\DWHFARINTERDEV'
DAGSTER_DEV_DWH_FARINTER_USERNAME='dagster_analitica'
DAGSTER_SECRET_DEV_DWH_FARINTER_PASSWORD=
DAGSTER_PRD_DWH_FARINTER_SQL_SERVER='172.16.2.202\DWHFARINTERPRD'
DAGSTER_PRD_DWH_FARINTER_USERNAME='dagster_analitica'
DAGSTER_SECRET_PRD_DWH_FARINTER_PASSWORD=
DAGSTER_DWH_FARINTER_URL='sqlserver://myuser:mypass@host.ip:1433/mydatabase'
DAGSTER_SECRET_ANALITICA_SU_PASSWORD='NOT-SET'
DAGSTER_EMAIL_ADDRESS='NOT-SET'
DAGSTER_SECRET_EMAIL_PASSWORD='NOT-SET'
DAGSTER_ANALITICA_FARINTERNET_USERNAME='NOT-SET'
DAGSTER_SECRET_ANALITICA_FARINTERNET_PASSWORD='NOT-SET'
DAGSTER_SECRET_MONGODB_CRM_HN_CONN_URL='NOT-SET'
DAGSTER_SECRET_MONGODB_ECOMMERCE_HN_CONN_URL='NOT-SET'
DAGSTER_LDCOM_PRD_USERNAME='NOT-SET'
DAGSTER_SECRET_LDCOM_PRD_PASSWORD='NOT-SET'
DAGSTER_SECRET_GAPI_FERIADOS='NOT-SET'


DBT_SQL_SERVER_ODBC_DRIVER=${DAGSTER_SQL_SERVER_ODBC_DRIVER}
DBT_DEV_DWH_FARINTER_SQL_SERVER=${DAGSTER_DEV_DWH_FARINTER_SQL_SERVER}
DBT_DEV_DWH_FARINTER_USERNAME=${DAGSTER_DEV_DWH_FARINTER_USERNAME}
DBT_ENV_SECRET_DEV_DWH_FARINTER_PASSWORD=${DAGSTER_SECRET_DEV_DWH_FARINTER_PASSWORD}
DBT_PRD_DWH_FARINTER_SQL_SERVER=${DAGSTER_PRD_DWH_FARINTER_SQL_SERVER}
DBT_PRD_DWH_FARINTER_USERNAME=${DAGSTER_PRD_DWH_FARINTER_USERNAME}
DBT_ENV_SECRET_PRD_DWH_FARINTER_PASSWORD=${DAGSTER_SECRET_PRD_DWH_FARINTER_PASSWORD}

SLING_HOME_DIR=${DAGSTER_HOME}/.slingdata

NOCODB_PG_FARINTER_HOST='NOT-SET'
NOCODB_PG_FARINTER_USERNAME='NOT-SET'
NOCODB_PG_FARINTER_SECRET_PASSWORD='NOT-SET'

# APP DOTACION PERSONAL
AURORAQA_PG_FARINTER_HOST='NOT-SET'
AURORAQA_PG_FARINTER_USERNAME='NOT-SET'
AURORAQA_PG_FARINTER_SECRET_PASSWORD='NOT-SET'
