# Holds all connection credentials for Extraction and Loading
connections:
  MONGODB_CRM_HN:
    type: mongodb        
    url: ${DAGSTER_SECRET_MONGODB_CRM_HN_CONN_URL}
  
  MONGODB_ECOMMERCE_HN:
    type: mongodb        
    url: ${DAGSTER_SECRET_MONGODB_ECOMMERCE_HN_CONN_URL}
  
  DAGSTER_DWH_FARINTER:
    type: sqlserver
    host: ${DAGSTER_DWH_FARINTER_IP}  
    user: ${DAGSTER_DWH_FARINTER_USERNAME}   
    password: ${DAGSTER_SECRET_DWH_FARINTER_PASSWORD} # you can pass in environment variables as well
    database: DL_FARINTER
    trust_server_certificate: 'true'

  NOCODB_DATA_GF:
    type: postgres
    host: ${NOCODB_PG_FARINTER_HOST}  
    #instance: DWHFARINTERDEV
    user: ${NOCODB_PG_FARINTER_USERNAME}   
    password: ${NOCODB_PG_FARINTER_SECRET_PASSWORD} 
    database: kielsa
   

# Global variables for specific settings, available to all connections at runtime (Optional)
variables:
  aws_access_key: '...'
  aws_secret_key: '...'