analiticasu ALL=(ALL) NOPASSWD:/opt/main_dagster*/.venv*/bin/python /opt/main_dagster*/scripts/deployment.py
analiticasu ALL=(ALL) NOPASSWD:/opt/main_dagster*/.venv*/bin/python /opt/main_dagster*/scripts/generate_dagster_service.py
analiticasu ALL=(ALL) NOPASSWD:  /bin/systemctl status dagster_*_webserver, \
  /bin/systemctl status dagster_*_daemon, \
  /bin/systemctl restart dagster_*_webserver, \
  /bin/systemctl restart dagster_*_daemon
