# put your secret values and credentials here. do not share this file and do not push it to github
# fill me up!
[hontrack_api_pipeline.sources]
api_key=

[sources.mdb_ecommerce_hn]
connection_url = ''
database = ''

[sources.mdb_ktmpro_clinicalab]
connection_url = ''
database = ''

[sources.mdb_crm_hn]
connection_url = ''
database = ''
