# put your secret values and credentials here. do not share this file and do not push it to github
# fill me up!
[hontrack_api_pipeline.sources]
api_key='your_api_key_here_123456'

[sources.mdb_ecommerce_hn]
connection_url = 'mongodb://user:password@host:27017/ecommerce_db'
database = 'ecommerce_db'

[sources.mdb_ktmpro_clinicalab]
connection_url = 'mongodb://user:password@host:27017/clinicalab_db'
database = 'clinicalab_db'

[sources.mdb_crm_hn]
connection_url = 'mongodb://user:password@host:27017/crm_db'
database = 'crm_db'
